
.ContenedorDeBurbujasDeVacio {
    width: 100%;
    height: 100dvh;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, #1f1f1f, transparent, #1f1f1f);
}

.BurbujasDeVacio {
    position: absolute;
    bottom: 0;
    background: #1f1f1f;
    border-radius: 50%;
    z-index: 0;
    animation: rise 6s linear infinite;
}

@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
    }

    80% {
        opacity: 0.8;
    }

    100% {
        transform: translateY(-1000px) scale(0);
        opacity: 0;
    }
}

.containSurf {
    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    justify-content: space-between;
    z-index: 0;
}

.surf {
    width: 100%;
    height: 100%;
    position: absolute;
<<<<<<< HEAD
    background-image: url("https://kevinrodigowawryniuk.github.io/Portafolio//images/olas_suaves_0.png");
=======
    background-image: url("https://kevinrodigowawryniuk.github.io/Portafolio/images/olas_suaves_0.png");
>>>>>>> 6d0870fe50cc6bf138f4687eb464df4b2ef968ec
    background-repeat: repeat;
    background-size: cover;
    animation: borderSurf 20s linear infinite;
    opacity: .6;
}

.surfsecond {
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    background-image: url("https://kevinrodigowawryniuk.github.io/Portafolio//images/olas_suaves_0.png");
=======
    background-image: url("https://kevinrodigowawryniuk.github.io/Portafolio/images/olas_suaves_0.png");
>>>>>>> 6d0870fe50cc6bf138f4687eb464df4b2ef968ec
    background-repeat: repeat;
    background-size: cover;
    animation: borderSurfsecond 20s linear infinite;
    opacity: .7;
}

@keyframes borderSurf {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes borderSurfsecond {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}
