
.ContenedorDeBurbujasDeVacio {
    width: 100%;
    height: 100dvh;
    margin: 0;
    position: fixed;
    bottom: 0;
    right:0;
    background: linear-gradient(to right, #1f1f1f, transparent, #1f1f1f);
}

.BurbujasDeVacio {
    position: absolute;
    bottom: 0;
    background: #1f1f1f;
    border-radius: 50%;
    z-index: 0;
    animation: rise 6s linear infinite;
}

@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
    }

    80% {
        opacity: 0.8;
    }

    100% {
        transform: translateY(-1000px) scale(0);
        opacity: 0;
    }
}
/*Esta es una forma si queres controlar todo desde el css*/
/*.BurbujasDeVacio:nth-child(1) {
    left: 20%;
    width: 40px;
    height: 40px;
    animation-duration: 5s;
    animation-delay: 0s;
}

.BurbujasDeVacio:nth-child(2) {
    left: 40%;
    width: 25px;
    height: 25px;
    animation-duration: 6.5s;
    animation-delay: 2s;
}

.BurbujasDeVacio:nth-child(3) {
    left: 60%;
    width: 30px;
    height: 30px;
    animation-duration: 7s;
    animation-delay: 1s;
}

.BurbujasDeVacio:nth-child(4) {
    left: 75%;
    width: 50px;
    height: 50px;
    animation-duration: 8s;
    animation-delay: 3s;
}

.BurbujasDeVacio:nth-child(5) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-duration: 4.5s;
    animation-delay: 1.5s;
}*/
