.footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
}

.ListaEnlaces {
    width: 100%;
    margin: .5rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.ListaE {
    width: 3em;
    height: 3em;
    filter: drop-shadow(0 0 20px #111) drop-shadow(0 0 30px #111);
}

    .ListaE:hover {
        filter: drop-shadow(0 0 10px #f1f1f1) drop-shadow(0 0 20px #f1f1f1);
    }

.Enlaces {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #f1f1f1;
    mask-image: url("https://kevinrodigowawryniuk.github.io/Portafolio/images/Logo.svg");
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("https://kevinrodigowawryniuk.github.io/Portafolio/images/Logo.svg");
    -webkit-mask-repeat: no-repeat;
}
