.header {
    width: 100%;
    background: linear-gradient(to right,#fff, transparent, #fff );
    color: white;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 2;
    border-end-end-radius: 100%;
    border-end-start-radius: 100%;
    box-shadow: 1px 1px 10px #fff, 2px 2px 20px #fff;
    transition: opacity .5s linear;
    box-sizing: border-box;
}

.header-visible {
    opacity: 1;
    transition: opacity .5s linear;
}

.header-hidden {
    opacity: 0;
    transition: opacity .5s linear;
}

.Titulo {
    width: 100%;
    margin: .1rem 0;
    text-align: center;
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000;
    text-decoration: underline;
}

.SubTitulo {
    width: 100%;
    margin: .1rem 0;
    text-align: center;
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000;
    text-decoration: underline;
}

.Navegador {
    width: 100%;
    box-sizing: border-box;
}

.ListaDeNavegacion {
    width: 100%;
    margin: .1rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.ListaN {
    margin: 0 1em;
}

.ScrollEnlace {
    font-size: larger;
    color: #fff;
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
    text-decoration: none;
    transition: font-size .3s linear;
}

    .ScrollEnlace:hover {
        font-size: x-large;
        text-shadow: 1px 1px 10px #101010, 1px 1px 20px #ffffff, 1px 1px 30px #101010;
        color: #f1f1f1;
        transition: font-size .3s linear;
    }

@media (max-width: 650px) {
    .header {
        border-radius: 0;
    }

    .ScrollEnlace {
        font-size: small;
    }

        .ScrollEnlace:hover {
            font-size: large;
        }
}
